body {
    background-color: orangered;
    background-size: cover;
}

.text-white {
    text-shadow: 1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        0px 1px 0 black,
        0px -1px 0 black,
        -1px 0px 0 black,
        1px 0px 0 black,
        2px 2px 0 black,
        -2px 2px 0 black,
        2px -2px 0 black,
        -2px -2px 0 black,
        0px 2px 0 black,
        0px -2px 0 black,
        -2px 0px 0 black,
        2px 0px 0 black,
        1px 2px 0 black,
        -1px 2px 0 black,
        1px -2px 0 black,
        -1px -2px 0 black,
        2px 1px 0 black,
        -2px 1px 0 black,
        2px -1px 0 black,
        -2px -1px 0 black;
}
main {
  margin-top: 250px; /* move margin here */
}